<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
    <add key="MyGet.NestedContent" value="https://www.myget.org/gallery/umbraco-nested-content" />
	<add key="MyGet.YouTube" value="https://www.myget.org/F/youtube-umbraco/" />
	<add key="MyGet.Ditto" value="https://www.myget.org/F/umbraco-ditto/" />
	<add key="MyGet.nuPickers" value="https://www.myget.org/F/nupickers/" />
  </packageSources>
</configuration>